#tab_gridddd {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tab_gridddd td, #tab_gridddd th {
    border: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box;
  }
  
  #tab_gridddd tr:nth-child(even){background-color: #f2f2f2;}
  
  #tab_gridddd tr:hover {background-color: #ddd;}
  
  #tab_gridddd th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #546e7a;
    color: white;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    font-size: 12px;
  }